/*---------------------------------------------------------------------------------------------

	Stylesheet used when Javascript is turned off

---------------------------------------------------------------------------------------------*/

.nojs-warning{ padding:10px 0; text-align:center; color:#ffffff; background-color:#ff0000; width:1020px; margin:0 auto; }
.nojs-warning strong{ color:#ffffff; }

#slideshow-nav{ display:none; }
#wrap{ -moz-box-shadow: none; -webkit-box-shadow:none; box-shadow:none; }
.services-overview-overlay{ display:none; }


